<a href="https://colab.research.google.com/github/LuisPeralta313/Data-science-projects/blob/main/DatasetLimpiando.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns

# Cargar el archivo xlsx en un DataFrame
df = pd.read_excel('data.xlsx')

# Visualizar las primeras filas
df.head()

,Id,Category,Manufacturer,Model,Prod. year,Gear box type,Leather interior,Fuel type,Engine volume,Drive wheels,Cylinders,Mileage,Doors,Airbags,Wheel,Color,Sales Fee,price
0,2680,Jeep,HYUNDAI,H1,2014,Automatic,Yes,Diesel,2.5,Front,4,74210 km,4,4,Left wheel,Silver,777,22433
1,5960,Sedan,MITSUBISHI,Mirage,2002,Automatic,No,Petrol,1.8,Front,4,160000 km,4,2,Left wheel,White,-,7500
2,2185,Jeep,HYUNDAI,Santa FE,2014,Automatic,Yes,Diesel,2,Front,4,51106 km,4,4,Left wheel,White,639,27284
3,15905,Sedan,MERCEDES-BENZ,E 260,1992,Manual,No,CNG,2.6,Rear,6,0 km,4,4,Left wheel,Beige,-,3450
4,15337,Universal,HONDA,FIT,2015,Automatic,Yes,Hybrid,1.5,Front,4,35624 km,4,4,Left wheel,Black,308,26644

In [ ]:
for col in df.select_dtypes(include=['object','int' ]).columns:
    print(f'Valores únicos en {col}: {df[col].unique()}')

Valores únicos en Id: [ 2680  5960  2185 ... 18497  4565 11586]
Valores únicos en Category: ['Jeep' 'Sedan' 'Universal' 'Hatchback' 'Microbus' 'Minivan' 'Coupe'
 'Cabriolet' 'Pickup' 'Goods wagon' 'Limousine']
Valores únicos en Manufacturer: ['HYUNDAI' 'MITSUBISHI' 'MERCEDES-BENZ' 'HONDA' 'FORD' 'TOYOTA' 'LEXUS'
 'VOLKSWAGEN' 'FIAT' 'BMW' 'MAZDA' 'CHEVROLET' 'NISSAN' 'SUBARU'
 'SSANGYONG' 'SUZUKI' 'VOLVO' 'AUDI' 'ROLLS-ROYCE' 'VAZ' 'PORSCHE' 'KIA'
 'JEEP' 'DODGE' 'OPEL' 'INFINITI' 'JAGUAR' 'GMC' 'RENAULT' 'DAEWOO'
 'LAND ROVER' 'SKODA' 'MINI' 'SEAT' 'DAIHATSU' 'GAZ' 'HUMMER' 'ALFA ROMEO'
 'CHRYSLER' 'BUICK' 'PEUGEOT' 'UAZ' 'CADILLAC' 'MASERATI' 'LINCOLN'
 'CITROEN' 'ZAZ' 'MERCURY' 'SCION' 'ACURA' 'ASTON MARTIN' 'LANCIA' 'ROVER'
 'PONTIAC' 'ISUZU' 'MOSKVICH' '·É°·ÉÆ·Éï·Éê' 'LAMBORGHINI' 'BENTLEY'
 'TESLA' 'SAAB' 'HAVAL' 'FERRARI' 'SATURN' 'GREATWALL']
Valores únicos en Model: ['H1' 'Mirage' 'Santa FE' ... 'Elantra 2014' 'Punto' 'Megane 1.5CDI']
Valores únicos en Prod. year: [2014 2002 1992 2015 2007 2012 2010 2016 2009 2006 2013 2018 2003 2008
 1986 2019 2004 2001 2011 1939 2017 1990 2000 2020 1998 1995 1999 2005
 1997 1996 1993 1987 1994 1977 1988 1984 1989 1991 1980 1976 1957 1978
 1965 1983 1953 1974 1947 1964 1985 1973 1982 1968 1943]
Valores únicos en Gear box type: ['Automatic' 'Manual' 'Tiptronic' 'Variator']
Valores únicos en Leather interior: ['Yes' 'No']
Valores únicos en Fuel type: ['Diesel' 'Petrol' 'CNG' 'Hybrid' 'LPG' 'Plug-in Hybrid' 'Hydrogen']
Valores únicos en Engine volume: [2.5 1.8 2 2.6 1.5 2.4 1.6 '3.0 Turbo' 3.5 3.8 '4.5 Turbo' 1.4 5 6.2 4.2
 3.3 '2.2 Turbo' 2.2 '2.0 Turbo' 3 '4.4 Turbo' 2.7 '2.5 Turbo' 1.3 4.8
 '1.4 Turbo' 0.4 '1.8 Turbo' 2.3 3.6 3.7 '3.2 Turbo' 4.4 0.2 1.9 4 1.7
 '3.5 Turbo' '3.6 Turbo' 5.7 '1.0 Turbo' 3.1 1 4.6 3.2 '0.7 Turbo'
 '1.5 Turbo' 2.8 '2.9 Turbo' '1.3 Turbo' '1.6 Turbo' '2.7 Turbo'
 '2.3 Turbo' 1.2 '1.7 Turbo' 5.5 0.8 '1.2 Turbo' '2.4 Turbo' '1.1 Turbo'
 '6.3 Turbo' 4.7 '1.9 Turbo' 6 '2.8 Turbo' '4.7 Turbo' '2.1 Turbo' 0.7
 '4.2 Turbo' 2.1 0.1 '5.5 Turbo' 4.3 '0.6 Turbo' 7.3 2.9 6.4 0.3 3.4
 '4.6 Turbo' '5.0 Turbo' 4.5 0 1.1 '4.0 Turbo' 0.6 5.3 20 5.6 '4.8 Turbo'
 '5.4 Turbo' 6.3 '5.7 Turbo' 5.9 5.4 6.8 '0.2 Turbo' 5.2 '0.4 Turbo' 3.9
 0.9 '3.7 Turbo' '0.3 Turbo']
Valores únicos en Drive wheels: ['Front' 'Rear' '4x4']
Valores únicos en Cylinders: [ 4  6 12  8 10  5  3  2  1  7 14  9 16]
Valores únicos en Mileage: ['74210 km' '160000 km' '51106 km' ... '132542 km' '149019 km' '123303 km']
Valores únicos en Doors: [4 '>5' 2]
Valores únicos en Airbags: [ 4  2 10 12  8  6  0 11  5  3  9 14 16  1  7 15 13]
Valores únicos en Wheel: ['Left wheel' 'Right-hand drive']
Valores únicos en Color: ['Silver' 'White' 'Beige' 'Black' 'Blue' 'Grey' 'Orange' 'Red' 'Green'
 'Golden' 'Carnelian red' 'Pink' 'Brown' 'Purple' 'Yellow' 'Sky blue']
Valores únicos en Sales Fee: [777 '-' 639 308 501 456 781 531 1399 891 1493 1511 1624 765 1058 585 640
 475 1024 1327 11714 1807 2606 353 843 749 1750 1408 259 607 687 1308 1273
 1236 915 528 697 562 289 761 1516 1011 1872 751 831 394 1466 1405 900 503
 586 595 836 583 645 650 1234 779 1079 730 502 1578 1266 1714 333 784 1077
 1080 155 919 1076 1197 382 1091 690 638 753 738 1202 2070 1282 1869 1855
 1047 1053 707 934 552 642 1486 1249 2364 986 1018 1109 1598 769 880 1586
 1051 584 629 1760 1845 1017 658 1203 1185 834 1292 1811 1360 764 830 1108
 877 1515 481 1228 530 447 1195 966 810 917 1141 609 2297 1275 1156 364
 4736 1211 1268 911 614 1539 397 420 1736 2265 271 1850 1888 1032 473 1138
 862 1646 694 790 1437 706 574 1083 1103 1055 518 1996 1481 746 800 521
 1604 1324 2225 1368 1148 988 1172 2858 1194 799 994 1363 1246 1503 2455
 1620 2108 889 1935 833 1998 1924 1946 1325 2410 1347 980 1036 890 1187
 1054 603 1110 1514 474 1346 944 832 702 551 494 1473 1104 798 1823 924
 2418 579 971 446 1575 1675 1451 363 1621 505 115 1288 1099 1304 1267 1277
 1995 770 612 4741 1279 1968 978 2467 1086 2151 1356 780 893 2082 1190
 1829 442 1668 1095 1793 402 1391 1307 1474 789 345 2628 1533 490 1341 431
 557 517 1685 1705 641 419 676 2705 1132 1438 441 878 1664 867 1375 1817
 1537 1030 5877 1505 1090 1470 875 1552 1413 247 2018 1834 2658 2377 742
 1286 167 1113 2002 1062 1384 3057 1680 1111 874 1659 2971 1031 928 3910
 7536 714 649 1205 448 489 400 822 2084 1677 879 696 1176 2236 1816 3301
 876 2472 1436 1178 2266 1301 1107 5666 1716 1045 975 87 426 1528 462 2269
 1163 3699 1426 930 294 4283 961 922 1342 873 1174 1836 1016 1482 463 1832
 2080 723 1723 691 1198 827 1759 1529 3965 1553 1525 2959 1993 1661 1991
 488 2874 1441 1522 970 1951 965 5603 3739 760 1296 1641 2148 692 3743 644
 279 1588 1866 1039 3156 2195 1820 2736 1708 732 617 3008 1678 623 1531
 1681 1673 1590 527 2337 2562 2056 460 2505 362 3518 1719 1901 1688 1502
 2054 1488 1885 627 1323 866 993 967 2156 421 3112 5908 2866 1064 418 4860
 1699 2715 3571 1094 328 2908 2909 1730 399 2067 1694 681 2819 637 729 955
 2670 636 1442 7063 3894 5681 1841 828 5332 1317 1411 1974 565 2386 666
 1781 1369 626 173 1701 1468 1948 3025 1272 3268 11706 2469 663 686 2177
 870 1662 1357 3208 2570 1756 1252 2209 2711 2566 1975 4508 2216 556 3292
 2073 949 722 524 3811 1518 1365 2913 1440 1297 2223 2188 425 859 7058
 2690 750 2004 724 175 4057 3329 2308 864 792 526 3141 2578 604 1848 683
 1387 2421 731 1960 1768 1345 2476 2123]
Valores únicos en price: [22433  7500 27284 ... 95739 58338 31424]

In [ ]:
#4 Mileage
df['Mileage'] = df['Mileage'].str.replace(' km','').astype(float)

#5 Doors
df['Doors'] = df['Doors'].replace('>5', 5)
# Reemplazar '-' por '0' en la columna 'sales fee'
df['Sales Fee'] = df['Sales Fee'].replace('-', 0)



# Mostrar las primeras filas del DataFrame modificado
print(df.head())

      Id   Category   Manufacturer     Model  Prod. year Gear box type  \
0   2680       Jeep        HYUNDAI        H1        2014     Automatic
1   5960      Sedan     MITSUBISHI    Mirage        2002     Automatic
2   2185       Jeep        HYUNDAI  Santa FE        2014     Automatic
3  15905      Sedan  MERCEDES-BENZ     E 260        1992        Manual
4  15337  Universal          HONDA       FIT        2015     Automatic

  Leather interior Fuel type Engine volume Drive wheels  Cylinders   Mileage  \
0              Yes    Diesel           2.5        Front          4   74210.0
1               No    Petrol           1.8        Front          4  160000.0
2              Yes    Diesel             2        Front          4   51106.0
3               No       CNG           2.6         Rear          6       0.0
4              Yes    Hybrid           1.5        Front          4   35624.0

   Doors  Airbags       Wheel   Color  Sales Fee  price
0      4        4  Left wheel  Silver        777  22433
1      4        2  Left wheel   White          0   7500
2      4        4  Left wheel   White        639  27284
3      4        4  Left wheel   Beige          0   3450
4      4        4  Left wheel   Black        308  26644

<ipython-input-14-120ea29baa87>:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Doors'] = df['Doors'].replace('>5', 5)
<ipython-input-14-120ea29baa87>:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Sales Fee'] = df['Sales Fee'].replace('-', 0)

##                           Variables categóricas

#2. Manufacturer (fácil)

#4. Gear (fácil)  ---> Terminado

#6. Fuel type ( fácil)

#8. Drive (Fácil) ----> Terminado

#10. Wheel (fácil) ---> Terminado

#12 Sales fee (fácil) ----> Terminado.

Gear box type

In [ ]:
# Gear Type
#Gear con one hot encoding ya q no importa el orden
df_encoded = pd.get_dummies(df, columns=['Gear box type'], prefix='GearBox')
df = df_encoded
gearbox_columns = ['GearBox_Automatic', 'GearBox_Manual', 'GearBox_Tiptronic', 'GearBox_Variator']
df[gearbox_columns] = df[gearbox_columns].astype(int)
df.head()

,Id,Category,Manufacturer,Model,Prod. year,Leather interior,Fuel type,Engine volume,Drive wheels,Cylinders,...,Doors,Airbags,Wheel,Color,Sales Fee,price,GearBox_Automatic,GearBox_Manual,GearBox_Tiptronic,GearBox_Variator
0,2680,Jeep,HYUNDAI,H1,2014,Yes,Diesel,2.5,Front,4,...,4,4,Left wheel,Silver,777,22433,1,0,0,0
1,5960,Sedan,MITSUBISHI,Mirage,2002,No,Petrol,1.8,Front,4,...,4,2,Left wheel,White,0,7500,1,0,0,0
2,2185,Jeep,HYUNDAI,Santa FE,2014,Yes,Diesel,2,Front,4,...,4,4,Left wheel,White,639,27284,1,0,0,0
3,15905,Sedan,MERCEDES-BENZ,E 260,1992,No,CNG,2.6,Rear,6,...,4,4,Left wheel,Beige,0,3450,0,1,0,0
4,15337,Universal,HONDA,FIT,2015,Yes,Hybrid,1.5,Front,4,...,4,4,Left wheel,Black,308,26644,1,0,0,0

In [ ]:
df.head()

,Id,Category,Manufacturer,Model,Prod. year,Leather interior,Fuel type,Engine volume,Drive wheels,Cylinders,...,Doors,Airbags,Wheel,Color,Sales Fee,price,GearBox_Automatic,GearBox_Manual,GearBox_Tiptronic,GearBox_Variator
0,2680,Jeep,HYUNDAI,H1,2014,Yes,Diesel,2.5,Front,4,...,4,4,Left wheel,Silver,777,22433,1,0,0,0
1,5960,Sedan,MITSUBISHI,Mirage,2002,No,Petrol,1.8,Front,4,...,4,2,Left wheel,White,0,7500,1,0,0,0
2,2185,Jeep,HYUNDAI,Santa FE,2014,Yes,Diesel,2,Front,4,...,4,4,Left wheel,White,639,27284,1,0,0,0
3,15905,Sedan,MERCEDES-BENZ,E 260,1992,No,CNG,2.6,Rear,6,...,4,4,Left wheel,Beige,0,3450,0,1,0,0
4,15337,Universal,HONDA,FIT,2015,Yes,Hybrid,1.5,Front,4,...,4,4,Left wheel,Black,308,26644,1,0,0,0

Wheel

In [ ]:
# Codificación binaria de 'Wheel'
df['Wheel'] = df['Wheel'].apply(lambda x: 0 if x == 'Left wheel' else 1)
print(df['Wheel'].value_counts())  #Ver Valores y su cantidad de apariciones.

Wheel
0    15084
1     1267
Name: count, dtype: int64

Drive

In [ ]:
# Aplicar One-Hot Encoding sin eliminar la primera columna, creando Drive_4x4 ... para el resto.
df = pd.get_dummies(df, columns=['Drive wheels'], prefix='Drive')
# Convertir columnas booleanas a 0 y 1
df[['Drive_Front', 'Drive_Rear', 'Drive_4x4']] = df[['Drive_Front', 'Drive_Rear', 'Drive_4x4']].astype(int)

Cambiando

In [ ]:
import pandas as pd

# Suponiendo que tu DataFrame se llama 'df'
df['Max'] = 2020  # Asignar 2020 a todos los registros de la nueva columna 'Max'
df['Age'] = df['Max'] - df['Prod. year']  # Calcular la edad restando 'Max' a 'Prod. year'
df.drop(['Prod. year', 'Max'], axis=1, inplace=True)  # Eliminar las columnas 'Prod. year' y 'Max'

In [ ]:
df.head()

,Id,Category,Manufacturer,Model,Leather interior,Fuel type,Engine volume,Cylinders,Mileage,Doors,...,Sales Fee,price,GearBox_Automatic,GearBox_Manual,GearBox_Tiptronic,GearBox_Variator,Drive_4x4,Drive_Front,Drive_Rear,Age
0,2680,Jeep,HYUNDAI,H1,Yes,Diesel,2.5,4,74210.0,4,...,777,22433,1,0,0,0,0,1,0,6
1,5960,Sedan,MITSUBISHI,Mirage,No,Petrol,1.8,4,160000.0,4,...,0,7500,1,0,0,0,0,1,0,18
2,2185,Jeep,HYUNDAI,Santa FE,Yes,Diesel,2,4,51106.0,4,...,639,27284,1,0,0,0,0,1,0,6
3,15905,Sedan,MERCEDES-BENZ,E 260,No,CNG,2.6,6,0.0,4,...,0,3450,0,1,0,0,0,0,1,28
4,15337,Universal,HONDA,FIT,Yes,Hybrid,1.5,4,35624.0,4,...,308,26644,1,0,0,0,0,1,0,5

In [ ]:
#import pandas as pd

# Suponiendo que tu DataFrame se llama 'df'

# Crear una nueva columna 'Airbags_por_puerta'
df['Airbags_por_puerta'] = df['Airbags'] / df['Doors']

In [ ]:
#ENGINE
# Crear columna 'Turbo' para indicar si el motor tiene turbo (1) o no (0)
df['Turbo'] = df['Engine volume'].apply(lambda x: 1 if 'Turbo' in str(x) else 0)
# Limpiar los valores de 'Engine volume', quitando "Turbo" y convirtiendo a float
df['Engine volume'] = df['Engine volume'].replace(' Turbo', '', regex=True).astype(float)
# Crear columnas para Small, Medium, y Large Engine
df['Small Engine'] = df['Engine volume'].apply(lambda x: 1 if 0.0 < x <= 1.6 else 0)
df['Medium Engine'] = df['Engine volume'].apply(lambda x: 1 if 1.6 < x <= 2.5 else 0)
df['Large Engine'] = df['Engine volume'].apply(lambda x: 1 if x > 2.5 else 0)

In [ ]:
# Revisar las primeras filas para confirmar los cambios
print(df[['Engine volume', 'Turbo', 'Small Engine', 'Medium Engine', 'Large Engine']].head(10))

   Engine volume  Turbo  Small Engine  Medium Engine  Large Engine
0            2.5      0             0              1             0
1            1.8      0             0              1             0
2            2.0      0             0              1             0
3            2.6      0             0              0             1
4            1.5      0             1              0             0
5            1.5      0             1              0             0
6            2.4      0             0              1             0
7            2.5      0             0              1             0
8            2.5      0             0              1             0
9            1.6      0             1              0             0

Fuel type

Manufacturer

In [ ]:
print(df['Manufacturer'].value_counts())
print (df['Manufacturer'].unique())

Manufacturer
HYUNDAI          3219
TOYOTA           3148
MERCEDES-BENZ    1722
FORD              919
CHEVROLET         917
                 ...
TESLA               1
HAVAL               1
FERRARI             1
SATURN              1
GREATWALL           1
Name: count, Length: 65, dtype: int64
['HYUNDAI' 'MITSUBISHI' 'MERCEDES-BENZ' 'HONDA' 'FORD' 'TOYOTA' 'LEXUS'
 'VOLKSWAGEN' 'FIAT' 'BMW' 'MAZDA' 'CHEVROLET' 'NISSAN' 'SUBARU'
 'SSANGYONG' 'SUZUKI' 'VOLVO' 'AUDI' 'ROLLS-ROYCE' 'VAZ' 'PORSCHE' 'KIA'
 'JEEP' 'DODGE' 'OPEL' 'INFINITI' 'JAGUAR' 'GMC' 'RENAULT' 'DAEWOO'
 'LAND ROVER' 'SKODA' 'MINI' 'SEAT' 'DAIHATSU' 'GAZ' 'HUMMER' 'ALFA ROMEO'
 'CHRYSLER' 'BUICK' 'PEUGEOT' 'UAZ' 'CADILLAC' 'MASERATI' 'LINCOLN'
 'CITROEN' 'ZAZ' 'MERCURY' 'SCION' 'ACURA' 'ASTON MARTIN' 'LANCIA' 'ROVER'
 'PONTIAC' 'ISUZU' 'MOSKVICH' '·É°·ÉÆ·Éï·Éê' 'LAMBORGHINI' 'BENTLEY'
 'TESLA' 'SAAB' 'HAVAL' 'FERRARI' 'SATURN' 'GREATWALL']

In [ ]:
# Filtrar registros en los que la columna 'Manufacturer' contiene caracteres inusuales
unusual_data = df[df['Manufacturer'].str.contains('É°|ÉÆ|Éï|Éê', na=False)]

# Mostrar los registros con caracteres inusuales
print(unusual_data)

         Id  Category  Manufacturer        Model Leather interior Fuel type  \
8663   4792      Jeep  ·É°·ÉÆ·Éï·Éê        GONOW              Yes    Petrol
11683  2358  Microbus  ·É°·ÉÆ·Éï·Éê  IVECO DAYLY               No    Diesel

       Engine volume  Cylinders   Mileage  Doors  ...  GearBox_Variator  \
8663             2.3          4  102000.0      4  ...                 0
11683            2.3          4  328000.0      4  ...                 0

       Drive_4x4 Drive_Front  Drive_Rear  Age  Airbags_por_puerta  Turbo  \
8663           0           0           1   15                0.50      0
11683          0           0           1   13                0.25      1

       Small Engine  Medium Engine  Large Engine
8663              0              1             0
11683             0              1             0

[2 rows x 28 columns]

In [ ]:
# Eliminar registros donde Manufacturer contiene caracteres extraños
df = df[~df['Manufacturer'].str.contains('É°·ÉÆ·Éï·Éê', na=False)]

# Confirmar que se eliminaron correctamente
print(df[df['Manufacturer'].str.contains('É°·ÉÆ·Éï·Éê', na=False)])

Empty DataFrame
Columns: [Id, Category, Manufacturer, Model, Leather interior, Fuel type, Engine volume, Cylinders, Mileage, Doors, Airbags, Wheel, Color, Sales Fee, price, GearBox_Automatic, GearBox_Manual, GearBox_Tiptronic, GearBox_Variator, Drive_4x4, Drive_Front, Drive_Rear, Age, Airbags_por_puerta, Turbo, Small Engine, Medium Engine, Large Engine]
Index: []

[0 rows x 28 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16349 entries, 0 to 16350
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  16349 non-null  int64
 1   Category            16349 non-null  object
 2   Manufacturer        16349 non-null  object
 3   Model               16349 non-null  object
 4   Leather interior    16349 non-null  object
 5   Fuel type           16349 non-null  object
 6   Engine volume       16349 non-null  float64
 7   Cylinders           16349 non-null  int64
 8   Mileage             16349 non-null  float64
 9   Doors               16349 non-null  int64
 10  Airbags             16349 non-null  int64
 11  Wheel               16349 non-null  int64
 12  Color               16349 non-null  object
 13  Sales Fee           16349 non-null  int64
 14  price               16349 non-null  int64
 15  GearBox_Automatic   16349 non-null  int64
 16  GearBox_Manual      16349 non-null  int64
 17  GearBox_Tiptronic   16349 non-null  int64
 18  GearBox_Variator    16349 non-null  int64
 19  Drive_4x4           16349 non-null  int64
 20  Drive_Front         16349 non-null  int64
 21  Drive_Rear          16349 non-null  int64
 22  Age                 16349 non-null  int64
 23  Airbags_por_puerta  16349 non-null  float64
 24  Turbo               16349 non-null  int64
 25  Small Engine        16349 non-null  int64
 26  Medium Engine       16349 non-null  int64
 27  Large Engine        16349 non-null  int64
dtypes: float64(3), int64(19), object(6)
memory usage: 3.6+ MB

In [ ]:
#Voy a Usaar Target encoding, pero, también pudiera usar Frequency Encoding, lo dejaré a bajo para probar luego.
# Reemplaza 'price' por el nombre de tu columna objetivo
#mean_price_by_manufacturer = df.groupby('Manufacturer')['price'].mean()
#df['Manufacturer_encoded'] = df['Manufacturer'].map(mean_price_by_manufacturer)

frequency_encoding = df['Manufacturer'].value_counts()
df['Manufacturer_encoded'] = df['Manufacturer'].map(frequency_encoding)

In [ ]:
# Eliminar la columna original 'Manufacturer'
df = df.drop(columns=['Manufacturer'])

# Confirmar que se eliminó correctamente
print(df.head())

      Id   Category     Model Leather interior Fuel type  Engine volume  \
0   2680       Jeep        H1              Yes    Diesel            2.5
1   5960      Sedan    Mirage               No    Petrol            1.8
2   2185       Jeep  Santa FE              Yes    Diesel            2.0
3  15905      Sedan     E 260               No       CNG            2.6
4  15337  Universal       FIT              Yes    Hybrid            1.5

   Cylinders   Mileage  Doors  Airbags  ...  Drive_4x4 Drive_Front  \
0          4   74210.0      4        4  ...          0           1
1          4  160000.0      4        2  ...          0           1
2          4   51106.0      4        4  ...          0           1
3          6       0.0      4        4  ...          0           0
4          4   35624.0      4        4  ...          0           1

   Drive_Rear  Age  Airbags_por_puerta  Turbo  Small Engine  Medium Engine  \
0           0    6                 1.0      0             0              1
1           0   18                 0.5      0             0              1
2           0    6                 1.0      0             0              1
3           1   28                 1.0      0             0              0
4           0    5                 1.0      0             1              0

   Large Engine  Manufacturer_encoded
0             0                  3219
1             0                   247
2             0                  3219
3             1                  1722
4             0                   818

[5 rows x 28 columns]

MODEL

In [ ]:
# Convertir los nombres de los modelos a mayúsculas y eliminar números al final
df['Model'] = df['Model'].str.replace(r'\d+$', '', regex=True).str.strip().str.upper()

In [ ]:
# Aplicar Frequency Encoding a la columna 'Model'
frequency_encoding = df['Model'].value_counts()
df['Model_encoded'] = df['Model'].map(frequency_encoding)

# Eliminar la columna original 'Model'
df = df.drop(columns=['Model'])

# Confirmar el cambio
print(df.head())

      Id   Category Leather interior Fuel type  Engine volume  Cylinders  \
0   2680       Jeep              Yes    Diesel            2.5          4
1   5960      Sedan               No    Petrol            1.8          4
2   2185       Jeep              Yes    Diesel            2.0          4
3  15905      Sedan               No       CNG            2.6          6
4  15337  Universal              Yes    Hybrid            1.5          4

    Mileage  Doors  Airbags  Wheel  ... Drive_Front  Drive_Rear  Age  \
0   74210.0      4        4      0  ...           1           0    6
1  160000.0      4        2      0  ...           1           0   18
2   51106.0      4        4      0  ...           1           0    6
3       0.0      4        4      0  ...           0           1   28
4   35624.0      4        4      0  ...           1           0    5

   Airbags_por_puerta  Turbo  Small Engine  Medium Engine  Large Engine  \
0                 1.0      0             0              1             0
1                 0.5      0             0              1             0
2                 1.0      0             0              1             0
3                 1.0      0             0              0             1
4                 1.0      0             1              0             0

   Manufacturer_encoded  Model_encoded
0                  3219          375.0
1                   247            7.0
2                  3219          450.0
3                  1722          674.0
4                   818          371.0

[5 rows x 28 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16349 entries, 0 to 16350
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    16349 non-null  int64
 1   Category              16349 non-null  object
 2   Leather interior      16349 non-null  object
 3   Fuel type             16349 non-null  object
 4   Engine volume         16349 non-null  float64
 5   Cylinders             16349 non-null  int64
 6   Mileage               16349 non-null  float64
 7   Doors                 16349 non-null  int64
 8   Airbags               16349 non-null  int64
 9   Wheel                 16349 non-null  int64
 10  Color                 16349 non-null  object
 11  Sales Fee             16349 non-null  int64
 12  price                 16349 non-null  int64
 13  GearBox_Automatic     16349 non-null  int64
 14  GearBox_Manual        16349 non-null  int64
 15  GearBox_Tiptronic     16349 non-null  int64
 16  GearBox_Variator      16349 non-null  int64
 17  Drive_4x4             16349 non-null  int64
 18  Drive_Front           16349 non-null  int64
 19  Drive_Rear            16349 non-null  int64
 20  Age                   16349 non-null  int64
 21  Airbags_por_puerta    16349 non-null  float64
 22  Turbo                 16349 non-null  int64
 23  Small Engine          16349 non-null  int64
 24  Medium Engine         16349 non-null  int64
 25  Large Engine          16349 non-null  int64
 26  Manufacturer_encoded  16349 non-null  int64
 27  Model_encoded         15694 non-null  float64
dtypes: float64(4), int64(20), object(4)
memory usage: 3.6+ MB

In [ ]:
df.head()

,Id,Category,Leather interior,Fuel type,Engine volume,Cylinders,Mileage,Doors,Airbags,Wheel,...,Drive_Front,Drive_Rear,Age,Airbags_por_puerta,Turbo,Small Engine,Medium Engine,Large Engine,Manufacturer_encoded,Model_encoded
0,2680,Jeep,Yes,Diesel,2.5,4,74210.0,4,4,0,...,1,0,6,1.0,0,0,1,0,3219,375.0
1,5960,Sedan,No,Petrol,1.8,4,160000.0,4,2,0,...,1,0,18,0.5,0,0,1,0,247,7.0
2,2185,Jeep,Yes,Diesel,2.0,4,51106.0,4,4,0,...,1,0,6,1.0,0,0,1,0,3219,450.0
3,15905,Sedan,No,CNG,2.6,6,0.0,4,4,0,...,0,1,28,1.0,0,0,0,1,1722,674.0
4,15337,Universal,Yes,Hybrid,1.5,4,35624.0,4,4,0,...,1,0,5,1.0,0,1,0,0,818,371.0

In [ ]:
print(df['Leather interior'].value_counts())
print (df['Leather interior'].unique())

Leather interior
Yes    11857
No      4492
Name: count, dtype: int64
['Yes' 'No']

Leather Interior

In [ ]:
# Convertir 'Yes' a 1 y 'No' a 0 en la columna 'Leather interior'
df['Leather interior'] = df['Leather interior'].map({'Yes': 1, 'No': 0})

# Confirmar la conversión
print(df['Leather interior'].unique())

[1 0]

Color

In [ ]:
print(df['Color'].value_counts())
print (df['Color'].unique())

Color
Black            4283
White            3815
Silver           3203
Grey             2034
Blue             1191
Red               549
Green             279
Orange            202
Brown             159
Carnelian red     151
Golden            124
Beige             112
Sky blue          101
Yellow             92
Purple             33
Pink               21
Name: count, dtype: int64
['Silver' 'White' 'Beige' 'Black' 'Blue' 'Grey' 'Orange' 'Red' 'Green'
 'Golden' 'Carnelian red' 'Pink' 'Brown' 'Purple' 'Yellow' 'Sky blue']

In [ ]:
#Frequency pero se pudiera hacer en grupos de colores o algo así :
color_frequency = df['Color'].value_counts()
df['Color_encoded'] = df['Color'].map(color_frequency)

In [ ]:
df = df.drop(columns=['Color'])

Category

In [ ]:
print(df['Category'].value_counts())
print (df['Category'].unique())

Category
Sedan          7410
Jeep           4701
Hatchback      2403
Minivan         548
Coupe           443
Universal       304
Microbus        257
Goods wagon     200
Pickup           43
Cabriolet        30
Limousine        10
Name: count, dtype: int64
['Jeep' 'Sedan' 'Universal' 'Hatchback' 'Microbus' 'Minivan' 'Coupe'
 'Cabriolet' 'Pickup' 'Goods wagon' 'Limousine']

In [ ]:
#Frequency otra vez
category_frequency = df['Category'].value_counts()
df['Category_encoded'] = df['Category'].map(category_frequency)

In [ ]:
df = df.drop(columns=['Category'])

Fuel Type

In [ ]:
print(df['Fuel type'].value_counts())
print (df['Fuel type'].unique())

Fuel type
Petrol            8637
Diesel            3455
Hybrid            3026
LPG                755
CNG                401
Plug-in Hybrid      74
Hydrogen             1
Name: count, dtype: int64
['Diesel' 'Petrol' 'CNG' 'Hybrid' 'LPG' 'Plug-in Hybrid' 'Hydrogen']

In [ ]:
#Lo haré de otra forma, pero dejaré aquí esto para probar luego
# Crear un diccionario de agrupación
#fuel_groups = {
#    'Convencional': ['Petrol', 'Diesel', 'LPG', 'CNG'],
#    'Ecológico': ['Hybrid', 'Plug-in Hybrid', 'Hydrogen']
#}

# Asignar cada tipo de combustible a su grupo
#df['Fuel_grouped'] = df['Fuel type'].map(lambda x: next((k for k, v in fuel_groups.items() if x in v), x))

# Opcional: Convertir en One-Hot Encoding
#df = pd.get_dummies(df, columns=['Fuel_grouped'], prefix='Fuel')

fuel_frequency = df['Fuel type'].value_counts()
df['Fuel_encoded'] = df['Fuel type'].map(fuel_frequency)
df = df.drop(columns=['Fuel type'])

Engine volume

In [ ]:
print(df['Engine volume'].value_counts())
print (df['Engine volume'].unique())

Engine volume
2.0     3689
2.5     2030
1.8     1623
1.6     1343
1.5     1177
        ...
20.0       1
3.1        1
6.8        1
5.2        1
3.9        1
Name: count, Length: 62, dtype: int64
[ 2.5  1.8  2.   2.6  1.5  2.4  1.6  3.   3.5  3.8  4.5  1.4  5.   6.2
  4.2  3.3  2.2  4.4  2.7  1.3  4.8  0.4  2.3  3.6  3.7  3.2  0.2  1.9
  4.   1.7  5.7  1.   3.1  4.6  0.7  2.8  2.9  1.2  5.5  0.8  1.1  6.3
  4.7  6.   2.1  0.1  4.3  0.6  7.3  6.4  0.3  3.4  0.   5.3 20.   5.6
  5.4  5.9  6.8  5.2  3.9  0.9]

Limpios ahora , a entrenar.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16349 entries, 0 to 16350
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    16349 non-null  int64
 1   Leather interior      16349 non-null  int64
 2   Engine volume         16349 non-null  float64
 3   Cylinders             16349 non-null  int64
 4   Mileage               16349 non-null  float64
 5   Doors                 16349 non-null  int64
 6   Airbags               16349 non-null  int64
 7   Wheel                 16349 non-null  int64
 8   Sales Fee             16349 non-null  int64
 9   price                 16349 non-null  int64
 10  GearBox_Automatic     16349 non-null  int64
 11  GearBox_Manual        16349 non-null  int64
 12  GearBox_Tiptronic     16349 non-null  int64
 13  GearBox_Variator      16349 non-null  int64
 14  Drive_4x4             16349 non-null  int64
 15  Drive_Front           16349 non-null  int64
 16  Drive_Rear            16349 non-null  int64
 17  Age                   16349 non-null  int64
 18  Airbags_por_puerta    16349 non-null  float64
 19  Turbo                 16349 non-null  int64
 20  Small Engine          16349 non-null  int64
 21  Medium Engine         16349 non-null  int64
 22  Large Engine          16349 non-null  int64
 23  Manufacturer_encoded  16349 non-null  int64
 24  Model_encoded         15694 non-null  float64
 25  Color_encoded         16349 non-null  int64
 26  Category_encoded      16349 non-null  int64
 27  Fuel_encoded          16349 non-null  int64
dtypes: float64(4), int64(24)
memory usage: 3.6 MB

In [ ]:
# Calcular la matriz de correlación de todo el DataFrame
correlation_matrix = df.corr()

# Mostrar la correlación de todas las variables con la columna "price"
price_correlation = correlation_matrix['price'].sort_values(ascending=False)
print(price_correlation)

price                   1.000000
GearBox_Tiptronic       0.016453
Turbo                   0.015386
GearBox_Manual          0.014528
Id                      0.009916
Medium Engine           0.008082
Engine volume           0.007680
Cylinders               0.006525
Large Engine            0.004039
Drive_4x4               0.001861
Drive_Front             0.000342
Leather interior       -0.000993
Mileage                -0.001517
Drive_Rear             -0.002852
Manufacturer_encoded   -0.002940
Fuel_encoded           -0.003239
GearBox_Variator       -0.003725
Color_encoded          -0.004537
Sales Fee              -0.004931
Age                    -0.010009
Airbags_por_puerta     -0.012885
Small Engine           -0.013644
Airbags                -0.013831
Wheel                  -0.013929
Model_encoded          -0.014632
GearBox_Automatic      -0.021050
Category_encoded       -0.021634
Doors                  -0.035610
Name: price, dtype: float64

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Supongamos que tu DataFrame se llama 'df'
X = df.drop(columns=['Id', 'price'])  # Elimina la columna 'Id' y la variable objetivo
y = df['price']

# Dividir en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Crear el modelo
model = RandomForestRegressor(n_estimators=100, random_state=42)

# Entrenar el modelo
model.fit(X_train, y_train)

# Hacer predicciones
y_pred = model.predict(X_test)

# Evaluar el modelo
rmse = mean_squared_error(y_test, y_pred, squared=False)
print(f'RMSE: {rmse}')

RMSE: 460093.060846723

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [ ]:
df.head()

,Id,Leather interior,Engine volume,Cylinders,Mileage,Doors,Airbags,Wheel,Sales Fee,price,...,Airbags_por_puerta,Turbo,Small Engine,Medium Engine,Large Engine,Manufacturer_encoded,Model_encoded,Color_encoded,Category_encoded,Fuel_encoded
0,2680,1,2.5,4,74210.0,4,4,0,777,22433,...,1.0,0,0,1,0,22397.516931,375.0,3203,4701,3455
1,5960,0,1.8,4,160000.0,4,2,0,0,7500,...,0.5,0,0,1,0,13174.008097,7.0,3815,7410,8637
2,2185,1,2.0,4,51106.0,4,4,0,639,27284,...,1.0,0,0,1,0,22397.516931,450.0,3815,4701,3455
3,15905,0,2.6,6,0.0,4,4,0,0,3450,...,1.0,0,0,0,1,18862.935540,674.0,112,7410,401
4,15337,1,1.5,4,35624.0,4,4,0,308,26644,...,1.0,0,1,0,0,14066.376528,371.0,4283,304,3026

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16349 entries, 0 to 16350
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    16349 non-null  int64
 1   Leather interior      16349 non-null  int64
 2   Engine volume         16349 non-null  float64
 3   Cylinders             16349 non-null  int64
 4   Mileage               16349 non-null  float64
 5   Doors                 16349 non-null  int64
 6   Airbags               16349 non-null  int64
 7   Wheel                 16349 non-null  int64
 8   Sales Fee             16349 non-null  int64
 9   price                 16349 non-null  int64
 10  GearBox_Automatic     16349 non-null  int64
 11  GearBox_Manual        16349 non-null  int64
 12  GearBox_Tiptronic     16349 non-null  int64
 13  GearBox_Variator      16349 non-null  int64
 14  Drive_4x4             16349 non-null  int64
 15  Drive_Front           16349 non-null  int64
 16  Drive_Rear            16349 non-null  int64
 17  Age                   16349 non-null  int64
 18  Airbags_por_puerta    16349 non-null  float64
 19  Turbo                 16349 non-null  int64
 20  Small Engine          16349 non-null  int64
 21  Medium Engine         16349 non-null  int64
 22  Large Engine          16349 non-null  int64
 23  Manufacturer_encoded  16349 non-null  int64
 24  Model_encoded         15694 non-null  float64
 25  Color_encoded         16349 non-null  int64
 26  Category_encoded      16349 non-null  int64
 27  Fuel_encoded          16349 non-null  int64
dtypes: float64(4), int64(24)
memory usage: 3.6 MB

In [ ]:
import pandas as pd

# Paso 1: Cargar el dataset de evaluación
df_eval = pd.read_excel('EvaluationPrueba.xlsx')

# Paso 2: Asegúrate de que las columnas coincidan con las del modelo (sin la columna 'price')
feature_columns = [
    'Leather interior', 'Engine volume', 'Cylinders', 'Mileage', 'Doors',
    'Airbags', 'Wheel', 'Sales Fee', 'GearBox_Automatic', 'GearBox_Manual',
    'GearBox_Tiptronic', 'GearBox_Variator', 'Drive_4x4', 'Drive_Front',
    'Drive_Rear', 'Age', 'Airbags_por_puerta', 'Turbo', 'Small Engine',
    'Medium Engine', 'Large Engine', 'Manufacturer_encoded', 'Model_encoded',
    'Color_encoded', 'Category_encoded', 'Fuel_encoded'
]


# Reordenar las columnas para asegurarse de que coinciden
df_eval = df_eval[feature_columns]

# Paso 3: Realizar las predicciones con el modelo
predictions = model.predict(df_eval)

# Paso 4: Agregar las predicciones como una nueva columna 'price'
df_eval['price'] = predictions

# Paso 5: Guardar el DataFrame con las predicciones en un nuevo archivo Excel
df_eval.to_excel('Evaluation_with_Predictions.xlsx', index=False)

# Descargar el archivo
from google.colab import files
files.download('Evaluation_with_Predictions.xlsx')